header{
  background-color: black;
  padding: 1rem 0;
//   height: 100px;
  .header{
    display: flex;
    flex-direction: column;
    .logo{
        display: flex;
        justify-content: center;
        img{
            width: 300px;
            height: 130px;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;
        li{

            a{
                color: white;
                text-decoration: none;
                &:hover{
                  color: red;
                //   font-size: 18px;
                }
            }
        }
    }
  }
}