.container {
  background-color: #8b0000; /* Dark red */
  padding: 20px;
  min-height: 100vh; /* Tam ekran yüksəkliyi */
  .error-message {
    color: #ff4d4d; /* Parlaq qırmızı */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .blurredBackground{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi_fbx2Kyr6F0F5gOlyIG1FXJb-ZEDod5Kzw&s');
    background-size: cover;
    background-position: center;
    height: 500px;
    filter: blur(4px); 
    position: relative;
    color: white;
    text-align: center;
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    .col {
      display: flex;
      justify-content: center;
      flex: 1 1 22%;
      max-width: 22%;
      // margin: 2rem 1rem; 
      .card {
        width: 100%;
        max-width: 230px;
        height: 580px;
        background-color: #5a0000; 
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: scale(1.05); 
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
        }
        img {
          height: 300px;
          width: 230px;
          object-fit: cover;
          border-bottom: 2px solid #ff4d4d;  
        }
        .meta {
          color: #f5deb3; 
          font-size: 1rem;
          padding: 10px;
        }
        h3 {
          color: wheat; 
          margin-top: 10px;
          text-align: center;
        }
        p {
          span {
            color: wheat; 
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
        .btns{
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding-top: 2rem;
          // padding-bottom: 1rem;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .container {
    padding: 10px;

    .blurredBackground {
      height: 300px; 
      filter: blur(3px); 
    }

    .row {
      justify-content: space-around;
      // flex-direction: column; 

      .col {
        flex: 1 1 45%;
        max-width: 45%;
        // width: 100%; 
        // margin: 1rem 0; 

        .card {
          width: 90%; 
          max-width: 280px; 
          height: 680px;
          margin: 0 auto; 

          img {
            width: 100%; 
            height: auto; 
          }
        }
      }
    }

    .btns {
      flex-direction: row; 
      padding-top: 1rem;
    }

    .search-bar {
      width: 100%; 
      max-width: 500px;
      margin: 10px auto; 
    }
  }
}

@media (max-width: 560px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .col {
      flex: 1 1 100%;
    max-width: 400px; 
    width: 100%;
    }
  }
}

